* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
    font-family: "inter", "monserrat";
}

/* header is the input box and the add button */
header {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* main is the list content */
.main {
    border: 2px solid red;
    margin: 10px;
}

/* toDo item is each individual item in the list, which also includes the delete/edit buttons */
.todoItem {
    border: 1px solid green;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

/* the individual buttons */

.actionsContainer {
    border: 1px solid plum;
}

.editBtn {
    margin-left: 10px;
}